h1{
margin:15px;
padding:35px;
text-align: center;
font-family: 'Cabin Sketch', cursive;
font-size: 90px;
font-weight: lighter;
color: #E7D200;
}
h2{
    font-family: 'Amatic SC', cursive;
    font-size: 55px;
}
body{
    background-image: url("../images/tree_bark.png");
}
#title, #mood{
    font-family: 'Patrick Hand SC', cursive;
    font-size: 30px;

}
.card{
    margin:15px;
    padding: 35px;
    background-color: #E7D200;
}
.submit{
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
    font-weight: bold;
}
input{
    width: 80px;
    margin: 5px;
    padding:5px;
}
.giphy{
    align-self: center;
    float:none;
    margin: auto;
}
